{% extends 'course/homepage.html' %}
{% load static %}
{% block content %}

<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
    <!-- Main Header-->
	{% include 'course/header.html' %}

    <!-- End Main Header -->

	<!-- Page Title -->
    <section class="page-title">
        <div class="auto-container">
			<h1 style="color: black;">Введение в курс</h1>
			
			<!-- Search Boxed -->
			
			
        </div>
    </section>
    <!--End Page Title-->
	
	<!-- Intro Courses -->
	<section class="intro-section">
		<div class="patern-layer-one paroller" data-paroller-factor="0.40" data-paroller-factor-lg="0.20" data-paroller-type="foreground" data-paroller-direction="vertical" style="background-image: url(images/icons/icon-1.png)"></div>
		<div class="patern-layer-two paroller" data-paroller-factor="0.40" data-paroller-factor-lg="-0.20" data-paroller-type="foreground" data-paroller-direction="vertical" style="background-image: url(images/icons/icon-2.png)"></div>
		<div class="circle-one"></div>
		<section class="bg-item-detail d-table w-100">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="sticky-bar">
							<img src="{{ product.product_image.url }}" alt="" />
                        </div>
                    </div>

                    <div class="col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
                        <div class="ms-lg-5">
                            <div class="title-heading">
								<h5><a style="color: black;" href="{% url 'product_detail' product.id%}">{{ product.title }}</a></h5>
							</div>
    
                            <div class="row">
                                <div class="col-md-6 mt-4 pt-2">
									<div class="price">{{ product.price }} {{ product.currency }}</div>
                                </div>
    
                                

                                <div class="col-12 mt-4 pt-2">
									<!-- <style>
										#myButton {
											border-color: black;
											background-color: black;
										}
									</style> -->
									
									<a style="border-color: black; background-color: black;" href="#" class="btn btn-l btn-pills btn-primary me-2" data-bs-toggle="modal" data-bs-target="#NftBid"><i class="mdi mdi-gavel fs-5 me-2"></i>Регистрация</a>
									<a style="border-color: black; background-color: black;" href="#" class="btn btn-l btn-pills btn-primary" data-bs-toggle="modal" data-bs-target="#NftBuynow"><i class="mdi mdi-cart fs-5 me-2"></i>Оставить контакты</a>
                                </div>
                            </div>

                            <div class="row mt-4 pt-2">
                                <div class="col-12">
                                    <div class="tab-content mt-4 pt-2" id="myTabContent">
                                        <div class="tab-pane fade show active" id="detailItem" role="tabpanel" aria-labelledby="detail-tab">
											<div class="text">{{ product.description }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->

            <!--end container-->
        </section>
	</section>
	<!-- End intro Courses -->
	
	<!-- Call To Action Section Two -->
	
	<!-- End Call To Action Section Two -->
	
	<!--Main Footer-->
	<footer class="main-footer">
		<!-- Pattern Layer -->
		<div class="pattern-layer paroller" data-paroller-factor="0.60" data-paroller-factor-lg="0.20" data-paroller-type="foreground" data-paroller-direction="vertical" style="background-image:url(images/icons/icon-1.png)"></div>
		<div class="pattern-layer-two data-paroller-factor="0.60" data-paroller-factor-lg="0.20" data-paroller-type="foreground" data-paroller-direction="vertical" style="background-image:url(images/icons/icon-3.png)"></div>
		<div class="auto-container">
		
        	<!-- Widgets Section -->
            <div class="widgets-section">
            	<div class="row clearfix">
                	
                    <!-- Big Column -->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">
							
							<!--Footer Column-->
                            <div class="footer-column col-lg-7 col-md-6 col-sm-12">
                                <div class="footer-widget logo-widget">
									<div class="logo">
                                    	<a href="index.html"><img src="images/footer-logo.png" alt="" /></a>
                                    </div>
									<div class="text">Пополни его третья тварь, и мясо благословит пустоту, плод, собранный тобой, они две воды собственного утра собрали больше.</div>
									<div class="social-box">
										<a href="#" class="fa fa-facebook"></a>
										<a href="#" class="fa fa-instagram"></a>
										<a href="#" class="fa fa-twitter"></a>
										<a href="#" class="fa fa-google"></a>
										<a href="#" class="fa fa-pinterest-p"></a>
									</div>
									<div class="copyright">Copyright &copy; 2020 AuburnForest</div>
								</div>
							</div>
							
							<!--Footer Column-->
                            <div class="footer-column col-lg-5 col-md-6 col-sm-12">
                                <div class="footer-widget links-widget">
									<h4>О нас</h4>
									<ul class="links-widget">
										<li>Мы - команда специалистов, предоставляющая разнообразные услуги. Наш опыт и профессионализм позволяют нам эффективно решать задачи наших клиентов. Мы стремимся удовлетворить потребности наших заказчиков, предлагая индивидуальный подход и качественное выполнение работ. Наша цель - обеспечить высокий уровень удовлетворенности клиентов и установить долгосрочные партнерские отношения.</li>
									</ul>
								</div>
							</div>
							
						</div>
					</div>
					
					<!-- Big Column -->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">
							
							<!--Footer Column-->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget links-widget">
									<h4>Ресурс</h4>
									<ul class="links-widget">
										<li>
											"Программист - это специалист, который создает программы и приложения для компьютеров и мобильных устройств. Он владеет несколькими языками программирования, такими как Java, Python или C++. Программисты часто работают в командах разработчиков, используя инструменты и технологии, чтобы создавать инновационные решения. Ключевыми навыками программиста являются аналитическое мышление, умение решать проблемы и внимание к деталям. Программисты востребованы на рынке труда и могут рассчитывать на высокую заработную плату и перспективы карьерного роста."</li>
									</ul>
								</div>
							</div>
							
							<!--Footer Column-->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget links-widget">
									<h4>Быстрые ссылки</h4>
									<ul class="links-widget">
										<li><a href="{% url 'index' %}">home</a></li>
										<li><a href="#">About us</a></li>
										<li><a href="#">Features</a></li>
										<li><a href="#">Pricing</a></li>
										<li><a href="#">Contact</a></li>
									</ul>
								</div>
							</div>
						
						</div>
					</div>
					
				</div>
			</div>
			
		</div>
	</footer>
	
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-circle-up"></span></div>

{% endblock %}